.row-header{
  margin: 0px auto;
  padding: 0px auto;
}

.container{
  margin: 5px auto;
  padding: 5px auto;
}
body{

    z-index:0;
}

table {
    border: 1px solid black;

    border-collapse: collapse;
    position: absolute;
    height : 100%;
    width : 100%;

   }

   td  {

    border: 1px solid black;

    text-align: center;
  }
  tr{



  }

.conainer{
  height : 100%;
  width : 100%;


}
.hours{

  height: 1%;
  width : 5%;


}
